* {
    font-family: Courier New;
    text-align: center;
}

.home {
    background-color: lightpink;
}

.penguin {
    background-color: aquamarine;
}

ul {
    list-style: none;
  }

.hidden {
    display: none;
}