/* The Base */
@font-face {
    font-family: pixel;
    src: url(/src/fonts/VT323/VT323-Regular.ttf);

}

@font-face {
    font-family: Monaco;
    font-display: swap;
    src: url(/src/fonts/Monaco.ttf);
}

/* Default */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: pixel;
    font-weight: 200;
    font-size: 1.25rem;
    color: white;
    overflow-x: hidden;

}

li,
a {
    list-style: none;
    text-decoration: none;
}

mark {
    background: none;
}




/* =================================================================
    background-color: #24252A;
    Navbar 
   ================================================================= */


.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index: 2;
}

.nav-default {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background 0.4s ease-in;
}

.nav-scrolled {
    background-color: #24252A;
    transition: background 0.3s ease-in;
}

.name {
    margin-top: -1rem;
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    margin-right: auto;
    color: #ffffff;
    background-color: #04AA6D;
    border-bottom-right-radius: 1.75rem;
}

.name p{
    font-size: 1rem;
    margin-bottom: -1rem;
}

.nav-links li {
    display: inline-block;
    padding: 1rem;
}

.name,
.nav-links li a {
    transition: all 0.3s ease-in-out 0s;

}

.name:hover {
    background-color: #C79D59;
}

.nav-links li a:hover {
    color: #AFE1AF;
    box-shadow: 0 3px 0 0 #cde1f8;
}

.run-gif {
    margin-left: 8rem;
    margin-right: 30rem;
    width: 2.5rem;
    position: absolute;

    animation: linear infinite;
    animation-name: run;
    animation-duration: 10s;
}

@media screen and (min-width: 768px) {
    @keyframes run {
        0% {
            left: 2rem;
        }

        48% {
            -webkit-transform: rotateY(0deg);
        }

        50% {
            left: calc(80% - 6.25rem);
            -webkit-transform: rotateY(180deg);
        }

        98% {
            -webkit-transform: rotateY(180deg);
        }

        100% {
            left: 0;
            -webkit-transform: rotateY(0deg);
        }
    }
}


@media screen and (max-width: 767px) {
    @-webkit-keyframes run {
        0% {
            left: 2rem;
        }

        48% {
            -webkit-transform: rotateY(0deg);
        }

        50% {
            -webkit-transform: rotateY(180deg);
        }

        98% {
            -webkit-transform: rotateY(180deg);
        }

        100% {
            left: 0;
            -webkit-transform: rotateY(0deg);
        }
    }
}


/* =================================================================
    Menu (Navbar Extended)
   ================================================================= */
.menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-right: 1rem;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .menu {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 3.7rem;
        background-color: rgba(0, 0, 0, 0.2);
        gap: 0;
        flex-direction: column;
        border-bottom-right-radius: 2rem;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-items {
        margin: 16px 0;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links-default {
        background-color: rgba(0, 0, 0, 0.2);
        transition: background 0.4s ease-in;
        transition: 0.3s;

    }

    .nav-links-scrolled {
        background-color: #24252A;
        transition: background 0.3s ease-in;
        transition: 0.3s;

    }
}

/* ==============================
    Scrollbar
  ============================== */

::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #485740;
    box-shadow: inset 0 0 5px #485740;
    border-radius: 0;

}

::-webkit-scrollbar-thumb {
    background: #36303B;
    border-radius: 5rem;
}



/* ==============================
    Home Section
  ============================== */

#home {
    background-color: #0d0f17;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(imgs/home_page_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.home-page::before {
    position: absolute;
    content: "";
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent 0%, #0d0f17 100%);
}

h1 {
    margin-top: 1.5rem;
    color: #E1C16E;
    text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
    font-size: calc(25vh - 100px);
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 2px;

}


.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-me p {
    font-size: calc(5vh - 50px);
    word-wrap: break-word;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 5px;
}


/* ==============================
    terminal  
  ============================== */

.terminal * {
    font-family: Monaco;
    font-size: 0.75rem;
    color: #b0b2b6;
}

.terminal {
    width: calc(85vh - 200px);
    height: calc(35vh - 50px);
    background-color: #0d0f17;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 8px 8px;
    margin-top: -5rem;
}

.terminal p * {
    font-family: Monaco;
    color: #b0b2b6;
}

.terminal::-webkit-scrollbar {
    display: none;
}


/* Terminal Header */
.term-top {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0d0f17;
    width: calc(80vh - 200px);
    height: 3.5vh;
    border-radius: 0.5rem;
}

@media(max-width: 768px) {
    .term-top {
        width: calc(80vh - 350px);
    }

    .terminal {
        width: calc(85vh - 360px);
    }
}


.term-title p {
    margin-top: 5px;
    margin-right: 45px;
    font-family: Monaco;
    font-size: calc(1.58vh - 1px);
    color: #b0b2b6;
    top: 0;
}


/* Mimicking terminal open, minimize, close. */
.dot-circles {
    margin-top: 0.4rem;
    height: 0.65rem;
    width: 0.65rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

#close {
    margin-left: 0.75rem;
    background-color: #f96256;
    border: 1px solid #f65549;
}

#min {
    background-color: #ffb524;
    border: 1px solid #ffb524;
}

#max {
    background-color: #33c948;
    border: 1px solid #2dbb41;
    margin-right: 0;
}

#close:hover,
#min:hover,
#max:hover {
    background-color: #0d0f17;
    border: black;
    transition: all 0.3s ease-in-out 0s;

}


/*  Terminal Container */

.term-wrapper {
    margin: 1.5rem 1rem 1rem;
}

.term-container mark {
    color: white;
}


/* terminal inputs  */
.terminal-line {
    margin-top: 0.5rem;
}

.terminal-line span {
    color: white;
}


/* power line */
.success {
    color: #8dd39e !important;
}

.directory {
    color: #75e1e7 !important;
    font-weight: 500;
}



.dummy-keyboard {
    opacity: 0;
    filter: alpha(opacity=0);
}

.user-input {
    position: relative;
}

.user-input::after {
    display: block;
    content: "";
    width: 10px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    right: -10px;
    animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.output p{
    color: rgb(102, 215, 230);
}

.output a{
    color: #AFE1AF;
}

/*
footer
*/

#footer {
    width: 100%;
    height: 115px;
    background-color: #0d0f17;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logos {
    margin-top: 1.5rem;
}

.logos ul li {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}



.logos i:hover {
    color: #AFE1AF;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
}


.cc {
    font-family: Monaco;
    font-size: 0.75rem;
    padding: 5px
}

.projects{
    color:#75e1e7;
    margin-top: 0.5rem;
}
